.header {
    margin: auto;
    width: 90%;
    border-bottom: solid black 1px;
    margin-bottom: 5%;
    /* display: flex; */
}

.header-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-buttons {
    display: flex;
    flex-direction: column;
}

.header-category-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid black 1px;
}